body {
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
}

button,
a {
  outline: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
