:root {
  --white-color: #ffffff;
  //   Используется для текста и фона
  --orange-color: #ff6b09;
  //   Один оранжевый на весь макет
  --black-color: #111518;
  //   Используется для всех заголовков, для текста и фона
  --primary-text-color: #b9b9b9;
  //    Используется как основной цвет для текста секций помимо черного
  --secondary-text-color: #3d3d3d;
  //   Используется для цвета текста в секциях Мы гарантируем и Отзывы выпускников

  --bg-color: #e5e5e5;
  // Body background-color + white в секциях
  --reviews-bg-color: #f1f1f1;
  // background-clor секции Отзывы выпускников

  --hero-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  // box-shadow в герое
  --section-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  // box-shadow секций Почему нас выбирают + Отзывы выпускников
  --card-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  //    box-shadow карточек секции Как мы это делаем

  --set-gap: 20px;
  //   Кроме декстопной версии секции Почему нас выбирают
}
